# **SI 618 - Homework #1: Dive into Data Manipulation**  
*Version 2024.09.05.2.CT*

---

Welcome to your first homework assignment for **SI 618**! In this task, you'll explore the fundamentals of data manipulation, using real-world datasets to practice essential skills. Get ready to dive deep, solve some fun challenges, and level up your data wrangling game!

## **Background**  

In this assignment, we’ll dive into some exciting **biometric data** and explore how exercise performance relates to key health metrics. 🚶‍♂️💪

### Your Task:
- You'll apply **data manipulation techniques** we've learned in class and from the readings.
- Feel free to consult resources like:
    - [**pandas documentation**](https://pandas.pydata.org/pandas-docs/stable/) 📘
    - [**Stack Overflow**](https://stackoverflow.com/) 🌐
    - [**Copilot**](https://github.com/features/copilot) (for code suggestions)

Remember, the goal is to practice **real-world problem-solving** using data manipulation skills, so explore, test, and have fun with the data!

### Scoring and Guidelines

This assignment is worth a **total of 100 points**, with the breakdown of points shown beside each question. Please refer to the accompanying rubric on Canvas for more details.

To earn **full points**, ensure the following:

- Your code should conform to the [**PEP 8**](https://www.python.org/dev/peps/pep-0008/) style guidelines for Python. 🐍
- Written responses should be:
  - **Grammatically correct** and free of spelling errors.
  - Following the [**Strunk & White**](https://drive.google.com/file/d/1L0P7xJwjUGBvyb49mL3dw1Bt7hzRTiTl/view) guidelines for clear and effective writing.

### Code Structure

- **Wrap your code in functions** wherever possible! This will make your code reusable for future assignments. 🔁
- Don't forget to include:
  - **Comments** (explain your thought process),
  - **Docstrings** (describe your functions), and
  - **Type hints** (specify the data types).
  
💡 **Reminder**: Undocumented code **will not** receive full credit.

### Important Notes for Submission

- **Add as many cells as you need** to complete your work.  
- Use:
  - **"Code" cells** for writing your Python code, and
  - **"Markdown" cells** for explanations, interpretations, and write-ups.
  
📝 **Pro tip**: After each question, insert new cells for your solutions and explanations!

⚠️ **Note**: Please **do not remove** any of the existing cells in the notebook.

## 📝 Answer the Following Questions

Each question is worth a certain number of points, indicated beside the question.

🔢 **Tip**: Make sure to provide detailed answers, and don't hesitate to use extra cells for your code and explanations!

### 🟢 Q1: Data Exploration with pandas (10 pts)

This question focuses on writing code and exploring a pandas DataFrame. Note: **Biometric data is not required for this question.**

#### 🔹 Q1a (2pt):
List **5 methods or attributes** that can be used to explore a pandas DataFrame or Series. For each method/attribute, explain:
- What it does, and
- How it can help explore the data.

Make sure to write **complete sentences** for your explanations.

1. [info()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html): This method outputs a summary of the data frame, including the data types, non-missing values, and the memory usage. It is useful to get a quick summary of your data frame.
2. [head()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html): This method returns the first n rows of your data frame. The default is 5 rows. This is useful to visually check the data, both to make sure that the data was imported correctly, but also to get a sense of the types of data you are working with.
3. [shape](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html#pandas.DataFrame.shape): This attribute will print the dimensions of the data frame, giving the number of rows and columns. This is helpful in checking that your data has the right dimensions, as well as after subsetting to make sure that the filter did what you expected.
4. [where()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.where.html): This method can be used to replace values that do not meet a specific conditional logic. This is useful for replacing values in a data frame.
5. [describe()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html): This method outputs the count, mean, standard deviation, minimum, and maximum values of the numeric columns in a data frame. It is useful to get a sense of the spread of the data. It will also output the 25th, 50th, and 75th percentiles.

In [8]:
# import pandas as pd
# mydf = pd.DataFrame({'A': [1,2,3,4,5], 'B': ['two','four','six','eight','ten']})
# # print(mydf)
# # print(mydf.info())
# # print(mydf.head(2))
# # print(mydf.shape)
# # print(mydf.where(mydf['A'] > 2))
# print(mydf.describe())


#### 🔹 Q1b (4pt):

Write a function to generate a **pandas DataFrame** with the following parameters:
1. **Number of rows**: The number of rows for the DataFrame.
2. **Number of columns**: The number of columns for the DataFrame
3. **Optional column names**: A list of column names (if not provided, default to integers starting from 0 up to number_of_columns - 1).
4. **Optional row index values**: A list of row index values (if not provided, default to integers starting from 0 up to number_of_rows - 1).
5. **Optional random seed**: default = 12345


#### Example - DataFrame

![image.png]()

The DataFrame should be filled with **random values** between -1 and 1.

In [2]:
import pandas as pd
import numpy as np

def create_df(nrow: int, ncol: int,
              cname: list = None,
              row_index: list = None,
               random_seed: int = 12345):
    # set random seed
    np.random.seed(random_seed)
    # set up rng (reference: https://realpython.com/numpy-random-number-generator/)
    rng = np.random.default_rng()
    # generate random data
    data = np.random.uniform(low=-1,
                             high=1,
                             # using number of rows and columns to generate data
                             size= (nrow, ncol))
    # check for colnames, create if not supplied
    if cname is None:
        cname = list(range(0,ncol))
        print(f'default column names are {cname}')
    # check for row_index, create if not supplied
    if row_index is None:
        row_index = list(range(0, nrow))
        print(f'default row indices is {row_index}')

    # create df
    df = pd.DataFrame(data,
                      columns=cname,
                      index=row_index)
    return df

In [6]:
# test
# create_df(3, 4)
# create_df(3, 4, cname=['A', 'B', 'C', 'D'],
#             row_index=['one', 'two', 'three'])
# create_df(10,10, cname=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
#           row_index=['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten'], 
#           random_seed=999)



#### 🔹 Q1c (4pt):
Use the function you created to make a DataFrame with:
- Columns: `['a', 'b', 'c']`
- Index: `['x', 'y', 'z']`

Apply the **5 methods/attributes** you listed in Q1a to explore this DataFrame. For each method, write a short explanation of what you learned from it.

In [9]:
q1c = create_df(3, 3, cname=['a', 'b', 'c'],
                row_index=['x', 'y', 'z'])

In [17]:

print(q1c.info())
# there are 3 non-null values in each column. The datatype is float64. The data frame is using 96 bytes
print(q1c.head(2))
# printing out the first 2 rows shows me that there are some negative and positive values.
# All values are between -1 and 1
print(q1c.shape)
# the shape of the df is 3x3
print(q1c['a'].where(q1c['a'] > 0.5))
# in the a column, there are 2 rows where the value of a is larger than 0.5
print(q1c.describe())
# there are 3 records in each column

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      float64
 1   b       3 non-null      float64
 2   c       3 non-null      float64
dtypes: float64(3)
memory usage: 96.0+ bytes
None
          a         b         c
x  0.859232 -0.367249 -0.632162
y -0.590879  0.135450  0.191089
(3, 3)
x    0.859232
y         NaN
z    0.929029
Name: a, dtype: float64
              a         b         c
count  3.000000  3.000000  3.000000
mean   0.399127  0.024852  0.018913
std    0.858081  0.350156  0.584333
min   -0.590879 -0.367249 -0.632162
25%    0.134176 -0.115899 -0.220536
50%    0.859232  0.135450  0.191089
75%    0.894131  0.220902  0.344451
max    0.929029  0.306354  0.497813

## 📥 Download the Data

Please download the dataset from the following link:  
[**Kaggle: Body Performance Data**](https://www.kaggle.com/kukuroo3/body-performance-data)

💡 **Tip**: Make sure you're logged into your Kaggle account before downloading.

### 🟢 Q2: Median Statistics (5 pt)

Implement a function to calculate the **median age, height, and weight** of individuals in the dataset, **without** using `pd.DataFrame.describe()`.

- **Rounding**: Round the results to the nearest whole number.
- **Units**: Be sure to indicate the units for each variable in your write-up.

In [34]:
# reference: https://stackoverflow.com/a/64709867/7448886
def med(df, var):
    data = sorted(df[var].values)
    n = len(data)
    # if even number of values, take average of the two middle values
    if n % 2 == 0:
        med = (data[n//2-1] + data[n//2]) / 2
    else:
        med = data[n//2]
    # round and return
    return round(med, 0)

def median_tbl(df, var: list):
    # create empty summary df
    sum_df = pd.DataFrame(index=['median'])
    # for each variable, check if it exists in the dataframe
    for v in var:
        # if exists
        if v in df:
            # use med function
            med_value = med(df, v)
            # add to summary df
            sum_df[v] = med_value
        else:
            print(f'{v} not found in the dataframe')
    return sum_df

In [35]:
body_performance = pd.read_csv('bodyPerformance.csv')
# body_performance.head()
median_summary = median_tbl(body_performance, ['age', 'height_cm', 'weight_kg'])
print(median_summary)

         age  height_cm  weight_kg
median  32.0      169.0       67.0


#### 🔹 Summary:
Write 1-2 sentences summarizing the output of your function, clearly stating the median values for age, height, and weight, and mentioning the units.

First I define a `med` function, which extracts the values from a dataframe, sorts the values, and then calculates the median. This function is then used in the `median_tbl` function, which takes two arguments, the dataframe and a list of columns. The function loops through the columns and applies the `med` function to each column. The function returns a dataframe with the median values for each column. The output of the function tells us that the median age is 32 years, the median height is 169 cm, and the median weight is 67 kg.

### 🟢 Q3: Detecting Anomalies (5 pt)

Investigate the dataset for **anomalous data points**. Consider the following example:
- **Diastolic blood pressure** being higher than **systolic blood pressure** is physiologically impossible.

But don’t stop there! 🚩 Explore the data for other potential anomalies as well.

Think about the following as you attempt the next task
 - Logical Indexing / Boolean Indexing
 - Filter using quantile values


#### 🔹 Task:
- Identify any other types of anomalies that might exist.
- Write 1-2 sentences summarizing your findings and insights from the data.

💡 **Hint**: Think about physiologically or statistically unusual values in the dataset.

In [54]:
body_performance.describe()
# kg_to_lb = 2.20462
# round(body_performance.weight_kg.max() * kg_to_lb, 2) # 304.46
# cm_to_inch = 0.0328084
# round(body_performance.height_cm.max() * cm_to_inch, 2) # 6.36
# body_performance.where(body_performance['diastolic'] > body_performance['systolic']).dropna() # 4 records
# body_performance['sit and bend forward_cm'].min() # negative value
# body_performance.where(body_performance['sit and bend forward_cm'] < 0).dropna() # 12 negative values

,age,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm
count,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000,13393.000000
mean,36.775106,168.559807,67.447316,23.240165,78.796842,130.234817,36.963877,15.209268,39.771224,190.129627
std,13.625639,8.426583,11.949666,7.256844,10.742033,14.713954,10.624864,8.456677,14.276698,39.868000
min,21.000000,125.000000,26.300000,3.000000,0.000000,0.000000,0.000000,-25.000000,0.000000,0.000000
25%,25.000000,162.400000,58.200000,18.000000,71.000000,120.000000,27.500000,10.900000,30.000000,162.000000
50%,32.000000,169.200000,67.400000,22.800000,79.000000,130.000000,37.900000,16.200000,41.000000,193.000000
75%,48.000000,174.800000,75.300000,28.000000,86.000000,141.000000,45.200000,20.700000,50.000000,221.000000
max,64.000000,193.800000,138.100000,78.400000,156.200000,201.000000,70.500000,213.000000,80.000000,303.000000

Using the describe method, we're able to see a summary of all of the numeric columns in the dataframe.  
-  The largest weight is 300 pounds, which is big but still possible. 
-  The tallest height is a little over 6 feet, so those are within the normal range.  
-  As noted in the hint, there are 4 records where the diastolic blood pressure is higher than the systolic blood pressure.  
-  In the sit and bend forward test measures, there are 12 records with negative values.

### 🟢 Q4: Visualizing Age, Weight, and Height (10 pt)

Your task is to generate **histogram plots** to visualize the differences in **age, weight, and height** between gender M and gender F participants.

#### 🔹 Instructions:
- Create the histograms using **only** the **matplotlib-pandas** integration (you cannot use Seaborn, Bokeh, or Plotly).
- After generating the plots, write a brief description of each, pointing out any interesting observations or patterns you notice.

💡 **Hint**: Look for differences in distribution, outliers, or trends between the genders.

In [ ]:
# your code goes here

### 🟢 Q5: Understanding Blood Pressure Categories (15 pt)

#### Background:
Blood pressure is measured using two numbers:
- **Systolic** (the upper number)
- **Diastolic** (the lower number)

For example, a blood pressure of **120/80** means the systolic pressure is **120 mm Hg** and the diastolic pressure is **80 mm Hg**. Blood pressure readings are important for identifying heart health and are classified into several categories. Here’s a quick summary of the categories:

| Category              | Systolic (mm Hg) | Diastolic (mm Hg) |
|-----------------------|------------------|-------------------|
| **Normal**            | Below 120        | Below 80          |
| **Elevated**          | 120-129          | Below 80          |
| **Stage 1 Hypertension** | 130-139       | 80-89             |
| **Stage 2 Hypertension** | 140 or higher | 90 or higher      |
| **Hypertensive Crisis** | Higher than 180 | Higher than 120   |

#### 🔹 Task:

**Part A (8 pt):**  
Using the categories above, report the **number of people** who fall into each blood pressure category in the dataset.

**Part B (7 pt):**  
In 2017, the blood pressure guidelines changed:
- **Before 2017**, hypertension was defined as a systolic pressure of **140 mm Hg** or more for people younger than 65, and **150 mm Hg** or more for those aged 65 and older.
- **After 2017**, hypertension is defined at a lower level (starting at 130/80 mm Hg).

#### Your Job:
1. Analyze how the **change in guidelines** affects the classification of individuals.
    - For example: how many people were considered hypertensive before 2017, and how many are classified as hypertensive after the change?
2. Make reasonable assumptions about how to use systolic and diastolic pressures for your analysis. Clearly state these assumptions in your write-up.

💡 **Hint**: Consider analyzing the data for different age groups (<65 and 65+), and decide whether to base your categorization on systolic, diastolic, or both measures.

#### 🔹 Summary:
- Clearly report the number of people in each category.
- Discuss how the new guidelines (post-2017) affect the classification compared to the old guidelines.
Blood pressure measurements fall into several categories:

**Normal Blood Pressure** - Your blood pressure is normal if it's below 120/80 mm Hg.

**Elevated Blood Pressure** - Elevated blood pressure is a systolic pressure ranging from 120 to 129 mm Hg and a diastolic pressure below (not above) 80 mm Hg. Elevated blood pressure may also be called prehypertension.

**Stage 1 Hypertension** - Stage 1 hypertension is a systolic pressure ranging from 130 to 139 mm Hg or a diastolic pressure ranging from 80 to 89 mm Hg.

**Stage 2 Hypertension** - More-severe hypertension, stage 2 hypertension is a systolic pressure of 140 mm Hg or higher or a diastolic pressure of 90 mm Hg or higher.

**Hypertensive Crisis** - A blood pressure measurement higher than 180/120 mm Hg is an emergency situation that requires urgent medical care.

a) Report the number of people in each of those categories.

b) The guidelines were recently changed: prior to 2017, the guidelines set the threshold at 140/90 mm Hg for people younger than age 65 and 150/80 mm Hg for those ages 65 and older to be diagnosed with hypertension. Create and implement analyses that allow you to demonstrate how the change in guidelines affects the categorization of people into the different categories.
Make reasonable assumptions (and state them) about whether to use diastolic, systolic, both, or either of those measures when implementing your analysis.  Note that the new guidelines offer more categories than the older guidelines.

In [ ]:
# your code goes here

### 🟢 Q6: Creating Age Categories and Analyzing Sit-Ups (10 pt)

Your task is to create a new variable called **"age_class"** that groups people into the following categories:
- **"early"**: Age < 40
- **"middle"**: Age between 40 and 60 (inclusive)
- **"late"**: Age > 60

#### 🔹 Steps:
1. Create the **"age_class"** variable based on the conditions above.
2. For each age group ("early", "middle", "late"):
    - Report the **mean** number of sit-ups performed.
    - Report the **median** number of sit-ups performed.

💡 **Hint**: Make sure to check your code for correctness by verifying the results for a few random individuals in the dataset.

In [ ]:
# your code goes here

### 🟢 Q7: Calculating and Visualizing BMI (15 pt)

#### 🔹 Part A: Calculating BMI
You’ll need to implement a function to calculate each person's **Body Mass Index (BMI)** using the following formula:
- **BMI formula (metric system)**:  
   ![image.png]()

1. Write a function that accepts **weight (kg)** and **height (cm)** as parameters and returns the **BMI**.
2. Use this function to create a new column in your DataFrame called **'BMI'**.

💡 **Note**: The CDC provides a detailed explanation of BMI calculation, which you can refer to [here](https://www.cdc.gov/nccdphp/dnpao/growthcharts/training/bmiage/page5_1.html).

#### 🔹 Part B: Visualizing BMI
Once you’ve added the BMI values to your DataFrame, create two histograms of the BMI using the **pandas-matplotlib integration**:
- One histogram for **gender F**.
- One histogram for **gender M**.

#### 🔹 Part C: Analysis
Compare the two histograms and describe:
- Any **similarities** in the distributions.
- Any **differences** between gender F and gender M.

💡 **Hint**: Think about aspects like the **shape of the distribution**, the **spread of BMI values**, and any **outliers** in the data.

In [ ]:
# your code goes here

### 🟢 Q8: Comparing Health Metrics by Gender (12 pt)

Your task is to compare the **mean values** of the following health metrics between **gender F** and **gender M**:
- **Height** (cm)
- **Weight** (kg)
- **Body fat %**
- **Grip force** (kg)
- **Sit and bend forward** (cm)
- **Sit-ups count** (reps)

#### 🔹 Steps:
1. **Quantitative Analysis**:  
   - Use pandas to calculate the **mean values** for each metric for both gender F and gender M.
   - Make sure to include the **units** for each metric in your summary.

2. **Visual Analysis**:  
   - Create visualizations (e.g., bar plots, histograms) to compare the distribution of these metrics between the two genders. Use **matplotlib** to generate these plots.

3. **Functionality**:  
   - Where possible, implement **functions** to perform these comparisons (e.g., a function that calculates mean values for each gender).

#### 🔹 Summary:
Write a brief summary of your findings, discussing:
- The differences in the mean values between gender F and gender M.
- Any interesting observations or patterns you notice in the visualizations.
- Ensure you mention the **units** for each metric in your write-up.

### 🟢 Q9: Calculating Fitness Scores (18 pt)

In this task, you will assess the fitness levels of individuals using the following three metrics:
- **Grip Force** (a measure of strength)
- **Sit and Bend Forward** (a measure of flexibility)
- **Sit-ups Count** (a measure of strength and endurance of abdominal and hip-flexor muscles)

#### 🔹 Steps:

1. **Calculate Z-scores**:
   - For each of the three metrics, calculate the z-score using the following formula:

$$
   z = \frac{x - \mu}{\sigma}
$$

Where:
- $x$ is the individual’s score,
- $\mu$ is the mean of the metric, and
- $\sigma$ is the standard deviation of the metric.

2. **Create a Fitness Score**:
   - Create an **overall fitness score** by adding the z-scores of the three metrics together for each individual.

3. **Categorize Fitness Levels**:
   - Use `pd.qcut()` to assign each individual to one of four categories, from the **lowest fitness score** to the **highest fitness score**.

4. **Function Implementation**:
   - Implement one or more functions to perform these calculations and categorization.

#### 🔹 Part A (10 pt):
- Report the **number of individuals** in each of the four fitness score categories.

#### 🔹 Part B (8 pt):
- Compare your fitness categories to the `class` column in the dataset.
- Write a brief summary commenting on:
  - How closely your fitness categories correspond to the `class` column.
  - Any interesting observations or discrepancies between the two.

💡 **Hint**: Remember to include units in your analysis and write-up.

In [ ]:
# your code goes here

### 🟢 IMPORTANT: Final Checks

Before you submit your notebook, please ensure that:
- Your complete notebook **runs without errors** from top to bottom.  
  💡 **Tip**: Use the "Run All" feature to quickly check this.
  
---

## 📤 Submission Instructions

Submit your completed assignment in both of the following formats:
1. **.IPYNB** (Jupyter Notebook format)
2. **.HTML** (Webpage format)

Upload your files to **Canvas** before the deadline.  Be sure to check that you have uploaded the correct files (e.g., don't accidentally submit an in-class notebook as your homework assignment).